<h1>Hi there <%= name.first %> <%= name.last %></h1>
<h2>Hi there <%= name.first %> <%= name.last %></h2>
<h3>Hi there <%= name.first %> <%= name.last %></h3>
<h4>Hi there <%= name.first %> <%= name.last %></h4>
<p>Contenido en html</p>