</p>
<b><%= student_name %></b> ha subido al bus de la <%= route %> del Colegio Jorge Washington
<br>
<br>
Parada: <%= stop_name %>
<br>

Dirección:  <%= stop_location %>
<br>

Hora de Embarque:  <%= boarded_time %>
<br>
<br>
<b>Mensaje enviado automaticamente por D-Transport School COJOWA</b>

<br>
<br> 

<b><%= student_name %></b> has boarded Colegio Jorge Washington’s bus route <%= route %>
<br>
<br>

<br>
Bus Stop: <%= stop_name %>
<br>

Address:  <%= stop_location %>
<br>

Boarding time:  <%= boarded_time %>
<br>
<br>

<b>Messages automatically sent by D-Transport School COJOWA</b>

</p>